*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body{
    background-color: rgb(194, 247, 229);
}
.container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    align-items: center;
    height: 100vh;
    
}
.container .input-file{
    background-color: rgb(102, 96, 96);
    width: 500px;
    height: 100px;
    margin-top: -4px;
    padding: 20px 0px;
    color: aliceblue;

}

.container p{
    font-size: 1.3rem;
    margin-bottom: 10px;

}
.container>div>button {
    margin-bottom: 10px;
    color: #e9e0e0;
    border: 5px solid #a81f1f;
    border-radius: 10%;
    margin-top: 3px;
}
#start {
    background-color: rgb(16, 94, 196);
}

#stop {
    background-color: rgba(240, 56, 42, 0.8);
}

#pause {
    background-color: rgba(174, 151, 243, 0.8);
}